<ng-container *ngIf="isMobile != true">

  <ng-container *ngIf="isLoaded == false">
    <br />
    <br />
    <br />
    <br />
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="isLoaded == true">

    <mat-toolbar color="primary" class="mat-elevation-z12" style="position:fixed; top: 0px; z-index: 100">
      <span>COMPANY</span>
      <span style="flex: 1 1 auto;"></span>

      <button mat-mini-fab color="accent" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="accent">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-mini-fab color="warn" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar>
    </mat-toolbar>

    <div class="bundy-container">


      <div class="clock-card">

        <div style="margin-top: 16px;text-align: center; display: flex; flex-direction: column; align-items:center">
          <h1 style="color: white">
            Bundy Clock
          </h1>

          <br />
          <br />

          <div style="width: 80%; height: 30%; flex: auto; border-radius: 16px; background-color: white;">

            <br />
            <mat-divider></mat-divider>
            <br />
            <h4>{{day}}</h4>
            <h2>{{timeinhours}}:{{timeinminutes}}:{{timeinseconds}}&nbsp;{{timeinmeri}}</h2>
            <br />
            <mat-divider></mat-divider>
            <br />
            <h1>{{getTimeTable(clockinId)}}</h1>

            <ng-container *ngIf="isclockedIn == false">
              <button mat-raised-button color="primary" (click)="timeIn()">Clock-In</button>
            </ng-container>

            <ng-container *ngIf="isclockedIn == true">
              <button mat-raised-button color="primary" (click)="timeOut()">Clock-Out</button>
            </ng-container>

            <br />
            <br />

          </div>

          <br />

          <div style="width: 80%; height: 30%; flex: auto; border-radius: 16px; background-color: white;">

            <br />
            <mat-divider></mat-divider>
            <br />
            <h4>
              Reminders
            </h4>

            <h3>
              {{announcementTitle}}
            </h3>
            <br />
            <mat-divider></mat-divider>
            <br />
            <br />
            {{announcementContent}}
            <br />
            <mat-divider></mat-divider>
            <br />

          </div>



        </div>




      </div>


      <div class="time-card">

        <div style="margin-top: 16px;text-align: center; display: flex; flex-direction: column; align-items:center">
          <h1>
            Time Log
          </h1>

          <br />
          <br />

          <div style="width: calc(100% - 32px); flex: auto; border-radius: 16px; background-color: white; padding: 16px; overflow:auto">

            <mat-paginator #empBundyPaginator [pageSize]="8"></mat-paginator>

            <mat-table [dataSource]="employeesDataSource" class="mat-elevation-z2">

              <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.emp_number}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.emp_fname}}&nbsp;{{element.emp_lname}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.emp_position}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.emp_department}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <ng-container *ngIf="checkStatus(element.emp_id) == true">
                    <mat-chip-list>
                      <mat-chip color="primary" selected>
                        <mat-icon>person</mat-icon>
                        ✓
                      </mat-chip>
                    </mat-chip-list>
                  </ng-container>

                  <ng-container *ngIf="checkStatus(element.emp_id) == false">
                    <mat-chip-list>
                      <mat-chip color="warn" selected>
                        <mat-icon>person</mat-icon>
                        ✗
                      </mat-chip>
                    </mat-chip-list>
                  </ng-container>

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                <mat-cell *matCellDef="let element">

                  <ng-container *ngIf="checkStatus(element.emp_id) == false">
                    Not Clocked In
                  </ng-container>

                  <ng-container *ngIf="checkStatus(element.emp_id) == true">

                    {{getTimeTable(element.emp_id)}}
                  </ng-container>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="employeesDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: employeesDisplayedColumns;"></mat-row>
            </mat-table>

          </div>

        </div>

      </div>

    </div>

  </ng-container>

</ng-container>



<ng-container *ngIf="isMobile == true">

  <ng-container *ngIf="isLoaded == false">
    <br />
    <br />
    <br />
    <br />
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="isLoaded == true">

    <mat-toolbar color="primary" class="mat-elevation-z12" style="position:fixed; top: 0px; z-index: 100; width: 100%">
      <span>COMPANY</span>
      <span style="flex: 1 1 auto;"></span>

      <button mat-mini-fab color="accent" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-mini-fab color="accent">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-mini-fab color="warn" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar>
    </mat-toolbar>

    <div class="bundy-container">


      <div class="clock-card">

        <div style="margin-top: 8px;text-align: center; display: flex; flex-direction: column; align-items:center">
          <h4 style="color: white">
            Bundy Clock
          </h4>

          <div style="width: 80%; height: 30%; flex: auto; border-radius: 16px; background-color: white;">
            <br />
            <mat-divider></mat-divider>
            <h4>{{day}}</h4>
            <h4>{{timeinhours}}:{{timeinminutes}}:{{timeinseconds}}&nbsp;{{timeinmeri}}</h4>
            <mat-divider></mat-divider>
            <br />
            <h2 style="color: var(--primary-color)">{{getTimeTable(clockinId)}}</h2>
            <mat-divider></mat-divider>
            <br />
            <ng-container *ngIf="isclockedIn == false">
              <button mat-raised-button color="primary" (click)="timeIn()">Clock-In</button>
            </ng-container>
            <ng-container *ngIf="isclockedIn == true">
              <button mat-raised-button color="primary" (click)="timeOut()">Clock-Out</button>
            </ng-container>

            <br />
            <br />

          </div>

          <br />

          <div style="width: 80%; height: 30%; flex: auto; border-radius: 16px; background-color: white;">

            <br />
            <mat-divider></mat-divider>
            <br />
            <h4>
              Reminders
            </h4>

            <h4>
              {{announcementTitle}}
            </h4>
            <br />
            <mat-divider></mat-divider>
            <br />
            <br />
            {{announcementContent}}
            <br />
            <mat-divider></mat-divider>
            <br />

          </div>

        </div>

      </div>


    </div>

  </ng-container>

</ng-container>



