<!--IF NOT MOBILE-->
<ng-container *ngIf="isMobile != true">

  <!--Preload-->
  <ng-container *ngIf="isLoaded == false">
    <br />
    <br />
    <br />
    <br />
    <mat-spinner style="margin: auto"></mat-spinner>
  </ng-container>

  <!--Loaded-->
  <ng-container *ngIf="isLoaded == true">

    <mat-tab-group class="mat-elevation-z4" (selectedTabChange)="loadTab($event)">

      <!--Employees-->
      <mat-tab>

        <ng-template mat-tab-label>

          <mat-icon>person</mat-icon>

          Employees

        </ng-template>

        <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
          <span style="flex: 1 1 auto;"></span>
          <span>Employees</span>
          <span style="flex: 1 1 auto;"></span>
        </mat-toolbar>

        <div class="mat-elevation-z22 tab-container">

          <br />
          <mat-divider></mat-divider>
          <br />

          <ng-container *ngIf="isLoadedTab == false">
            <br />
            <br />
            <br />
            <br />
            <mat-spinner style="margin: auto"></mat-spinner>
          </ng-container>

          <ng-container *ngIf="isLoadedTab == true">


            <div class="mat-elevation-z4 rounded-container-title">
              <h2 style="text-align: center; color: white">
                Employees Table
              </h2>
            </div>

            <div class="mat-elevation-z4 control-container">

              <div style="display: flex; align-items: baseline">

                <span style="flex: 1 1 auto;"></span>

                <mat-form-field appearance="outline" style=" min-width: 50% ;flex:auto;border-radius: 16px !important">
                  <mat-label><mat-icon>search</mat-icon>&nbsp;Search</mat-label>



                  <input matInput placeholder="Ex. Juan De" (keyup)="applyFilterEmp($event)">
                </mat-form-field>

                <span style="flex: 1 1 auto;"></span>
                <button mat-stroked-button color="primary" class="control-button" (click)="toggleArchive()"><mat-icon>unarchive</mat-icon>View Archived </button>&nbsp;
                <button mat-stroked-button color="warn" class="control-button" (click)="openDialogNewEmp()"><mat-icon>add</mat-icon>Add Employee </button>&nbsp;
                <span style="flex: 1 1 auto;"></span>

              </div>

              <mat-paginator #empPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>

            </div>

            <div class="mat-elevation-z4 rounded-container-flex">

              <div style="width: 100%; overflow-x: scroll;">

                <mat-table [dataSource]="employeesDataSource" class="mat-elevation-z0" style="width:110%" matSort matSortActive="emp_id" matSortDirection="asc">

                  <ng-container matColumnDef="emp_name" sticky>
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_fname}} {{element.emp_lname}} {{element.emp_mname}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element;"> {{element.emp_number}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_age">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_age}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_address}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_position}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_department">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_department}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_rate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span matPrefix>₱&nbsp;</span> {{element.emp_rate}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_rate_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Rate Type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_rate_type}} </mat-cell>
                  </ng-container>

                  <!-- <ng-container matColumnDef="emp_role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Role</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_role}} </mat-cell>
                  </ng-container> -->

                  <ng-container matColumnDef="emp_start_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_start_date | date}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_birth_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_birth_date | date}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_status" stickyEnd>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                      <ng-container *ngIf="checkStatus(element.emp_id) == true">
                        <mat-chip-list>
                          <mat-chip color="primary" selected>
                            <mat-icon>person</mat-icon>
                            ✓
                          </mat-chip>
                        </mat-chip-list>
                      </ng-container>

                      <ng-container *ngIf="checkStatus(element.emp_id) == false">
                        <mat-chip-list>
                          <mat-chip color="warn" selected>
                            <mat-icon>person</mat-icon>
                            ✗
                          </mat-chip>
                        </mat-chip-list>
                      </ng-container>

                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions" stickyEnd>

                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>

                    <mat-cell *matCellDef="let element">

                      <button mat-raised-button color="accent" (click)="openDialogEditEmp(element)"><mat-icon>visibility</mat-icon> Edit</button>

                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="employeesDisplayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: employeesDisplayedColumns;" [ngStyle]="{'background-color': row.isArchive == '0'? '' : 'var(--warn-lighter-color)'}"></mat-row>
                </mat-table>

              </div>

            </div>

            <br />
            <mat-divider></mat-divider>
            <br />

          </ng-container>

        </div>

      </mat-tab>

      <!--Attendance-->
      <mat-tab>

        <ng-template mat-tab-label>

          <mat-icon>calendar_month</mat-icon>

          Attendance

        </ng-template>

        <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
          <span style="flex: 1 1 auto;"></span>
          <span>Attendance</span>
          <span style="flex: 1 1 auto;"></span>
        </mat-toolbar>

        <div class="mat-elevation-z22 tab-container">

          <app-announcement>

          </app-announcement>

          <br />
          <mat-divider></mat-divider>
          <br />

          <ng-container *ngIf="isLoadedTab == false">
            <br />
            <br />
            <br />
            <br />
            <mat-spinner style="margin: auto"></mat-spinner>
          </ng-container>

          <ng-container *ngIf="isLoadedTab == true">

            <div class="mat-elevation-z4 rounded-container-title">
              <h2 style="text-align: center; color: white">
                Attendance Table
              </h2>
            </div>

            <div class="mat-elevation-z4 control-container">

              <div style="display: flex; align-items: baseline">
                <span style="flex: 1 1 auto;"></span>
                <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
                  <mat-label><mat-icon>search</mat-icon>Search</mat-label>

                  <input matInput placeholder="Ex. Juan De" (keyup)="applyFilterCalendar($event)">

                  
                </mat-form-field>

                <span style="flex: 1 1 auto;"></span>

                <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="pickerCalendarDateStart" [(ngModel)]="startDate" (dateInput)="loadTab(1)">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="pickerCalendarDateStart">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #pickerCalendarDateStart></mat-datepicker>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="pickerCalendarDateEnd" [(ngModel)]="endDate" (dateInput)="loadTab(1)">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="pickerCalendarDateEnd">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #pickerCalendarDateEnd></mat-datepicker>
                </mat-form-field>&nbsp;

                <span style="flex: 1 1 auto;"></span>

                <button mat-stroked-button class="control-buttons" color="primary" (click)="toggleArchive()"><mat-icon>unarchive</mat-icon> View Archived </button>&nbsp;

                <span style="flex: 1 1 auto;"></span>

              </div>

              <mat-paginator #attPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>

            </div>

            <div class="mat-elevation-z4 rounded-container-flex">

              <div style="width: 100%; overflow-x: scroll;">

                <mat-table [dataSource]="calendarDataSource" class="att-table">

                  <ng-container matColumnDef="emp_name" sticky>
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_id" sticky>
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="emp_rate_type" sticky>
                    <mat-header-cell *matHeaderCellDef> Rate Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.emp_rate_type}} </mat-cell>
                  </ng-container>

                  <ng-container *ngFor="let day of daysArray; index as i">
                    <ng-container matColumnDef="{{day}}">
                      <mat-header-cell *matHeaderCellDef class="att-cell"> {{day | date:'E'}} <br /> {{day | date:'d'}} </mat-header-cell>
                      <mat-cell *matCellDef="let element" class="att-cell" [ngStyle]="{'background-color': element.attendance[i].hours == '0'? '' : 'var(--accent-lighter-color)'}">
                        <ng-container *ngIf="element.attendance[i].hours == 0">


                        </ng-container>

                        <ng-container *ngIf="element.attendance[i].hours != 0 && element.attendance[i].hours <= 7">

                          {{element.attendance[i].hours}}&nbsp;

                          <mat-chip-list>
                            <mat-chip color="warn" selected>!</mat-chip>
                          </mat-chip-list>


                        </ng-container>

                        <ng-container *ngIf="element.attendance[i].hours != 0 && element.attendance[i].hours >= 8">

                          {{element.attendance[i].hours}}&nbsp;

                        </ng-container>
                      </mat-cell>

                    </ng-container>
                  </ng-container>

                  <ng-container matColumnDef="total" stickyEnd>
                    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                      {{element.total}}

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="calendarDisplayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: calendarDisplayedColumns;" [ngStyle]="{'background-color': row.emp_isArchive == '0'? '' : 'var(--warn-lighter-color)'}"></mat-row>
                </mat-table>

              </div>

            </div>

            <br />
            <br />
            <mat-divider></mat-divider>
            <br />

            <div class="mat-elevation-z4 rounded-container-title">
              <h2 style="text-align: center; color: white">
                Time-In Table
              </h2>
            </div>

            <div class="mat-elevation-z4 control-container">

              <div style="display: flex; align-items: baseline">

                <span style="flex: 1 1 auto;"></span>

                <mat-form-field appearance="outline" style=" min-width: 50% ;flex:auto;border-radius: 16px !important">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Ex. Juan De" (keyup)="applyFilterTimeIn($event)">
                </mat-form-field>

                <span style="flex: 1 1 auto;"></span>

                <button mat-stroked-button class="control-buttons" color="primary" (click)="toggleArchive()"><mat-icon>archive</mat-icon>View Archived</button>&nbsp;

                <button mat-stroked-button class="control-buttons" color="warn" (click)="openDialogAttNew()"><mat-icon>add</mat-icon>Add Time-In </button>&nbsp;
                <button mat-stroked-button class="control-buttons" color="primary" (click)="attendancePDF()"> <mat-icon>insert_drive_file</mat-icon>  Attendance PDF </button>

                <span style="flex: 1 1 auto;"></span>

              </div>

              <mat-paginator #timePaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 100]"></mat-paginator>

            </div>

            <div class="mat-elevation-z4 rounded-container-flex">
              <div style="width: 100%; overflow-x: scroll;">
                <div  id="dtr">
                <mat-table [dataSource]="attendanceDataSource" class="att-table" matSort matSortActive="atten_date" matSortDirection="asc">

                  <ng-container matColumnDef="atten_emp_name" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.atten_emp_name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="atten_emp_id" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.atten_emp_id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="atten_date" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.atten_date | date }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="atten_emp_hours" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Hours </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.atten_seconds | number: '1.0'}} hours </mat-cell>
                  </ng-container>

                

                  <ng-container matColumnDef="actions" stickyEnd>
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-raised-button color="accent" (click)="openDialogAttEdit(element)"><mat-icon>visibility</mat-icon>Edit</button>


                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="attendanceDisplayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: attendanceDisplayedColumns;"></mat-row>
                </mat-table>
              </div>

              </div>

            </div>


            <br />
            <br />
            <mat-divider></mat-divider>
            <br />

            <br />
            <br />
            <br />
            <br />

          </ng-container>

        </div>

      </mat-tab>

    </mat-tab-group>

  </ng-container>

</ng-container>

<!--IF MOBILE-->
<ng-container *ngIf="isMobile == true">

  <div>
    Module not Available on Mobile!
  </div>

</ng-container>

<!--DIALOGS-->
<!--For New Emp-->
<ng-template #empNewDialog let-data>
  <h2 matDialogTitle>New Employee</h2>
  <mat-dialog-content style="display:flex; align-content:center;flex-wrap:wrap">

    <div style="width: 100%;">
      <br />
      <br />
      <br />
      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>

    <h4>Non Disclosure Agreement</h4>
    <p>
      All of the personal records below will be kept confidential. The records below are used for storing records in accordance with RA 10173, also known as the "Data Privacy Act of 2012". It is a law that seeks to protect all forms of information, be it private, personal, or sensitive. It is meant to cover both natural and juridical persons involved in the processing of personal information.
    </p>
    <div class="inputs" [formGroup]="form" (ngSubmit)="form.valid">
    <mat-form-field id="formid" appearance="outline" style=" min-width: 20% ; flex:auto; border-radius: 16px !important">
      

      <ngx-mat-file-input id="fileinput" [disabled]="true" [(ngModel)]="data.emp_imgfile" name="file" #fileinput>
      </ngx-mat-file-input>
      
      <!-- <mat-label>Upload an image</mat-label> 
         document.getElementById('emp')?.addEventListener('click', openDialog)
      -->
      <!-- <button mat-stroked-button color="primary" (click)="openDialog(document.getElementById('fileinput'))" > Upload an image</button> -->
      </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important" class="form-group-new-emp">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="mail" [(ngModel)]="data.emp_email" type="email" placeholder="kekw@example.com" required>
        <mat-error *ngIf="mail.invalid"> {{ getErrorMessage() }} </mat-error>
      <!-- <mat-error *ngIf="form.controls['emp_email'].errors?.['required']" style="color:red;">Email address is required</mat-error>   
      <mat-error *ngIf="form.controls['emp_email'].errors?.['pattern']" style="color:red;">>Please provide a valid email address</mat-error>  -->
    </mat-form-field>
    
    &nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Ex. Juan" type="text" [(ngModel)]="data.emp_lname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Ex. De Cruz" type="text" [(ngModel)]="data.emp_fname" [ngStyle]="{'background-color': data.emp_lname? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Middle Name</mat-label>
      <input matInput placeholder="Ex. Cruzilfer" type="text" [(ngModel)]="data.emp_mname" [ngStyle]="{'background-color': data.emp_mname? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 10% ;flex:auto;border-radius: 16px !important">
      <mat-label>Extensions</mat-label>
      <input matInput placeholder="Ex. III" type="text" [(ngModel)]="data.emp_extname" [ngStyle]="{'background-color': data.emp_extname? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 80% ;flex:auto;border-radius: 16px !important">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Ex. Olongapo City" type="text" [(ngModel)]="data.emp_address" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Contact #</mat-label>
      <input matInput type="text" [(ngModel)]="data.emp_contactNum" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Password</mat-label>
      <input required matInput type="password"
      [formControl]="pword"
      [(ngModel)]="data.emp_password">
      <mat-error *ngIf="pword.invalid"> {{ getErrorMessagePword() }} </mat-error>
      
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Role</mat-label>
      <mat-select placeholder="Ex. Juan De" [(ngModel)]="data.emp_role" [ngStyle]="{'background-color': data.emp_role? '' : 'var(--warn-lighter-color)'}">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="sales_clerk">Sales Clerk</mat-option>
      </mat-select>
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Position</mat-label>
      <input matInput placeholder="Ex. Sae" [(ngModel)]="data.emp_position" [ngStyle]="{'background-color': data.emp_position? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;


    <!-- <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Rate</mat-label>
      <input matInput placeholder="Ex. 470.00" type="number" [(ngModel)]="data.emp_rate" [ngStyle]="{'background-color': data.emp_rate? '' : 'var(--warn-lighter-color)'}">
      <span matPrefix>₱&nbsp;</span>
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Rate Type</mat-label>
      <mat-select placeholder="Ex. Juan De" [(ngModel)]="data.emp_rate_type" [ngStyle]="{'background-color': data.emp_rate_type? '' : 'var(--warn-lighter-color)'}">
        <mat-option value="Daily">Daily</mat-option>
        <mat-option value="Weekly">Weekly</mat-option>
        <mat-option value="Monthly">Monthly</mat-option>
      </mat-select>
    </mat-form-field>&nbsp; -->

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="pickerBirthDateEdit" [(ngModel)]="data.emp_birth_date" [ngStyle]="{'background-color': data.emp_birth_date? '' : 'var(--warn-lighter-color)'}">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerBirthDateEdit">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerBirthDateEdit></mat-datepicker>
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="pickerStartDateEdit" [(ngModel)]="data.emp_start_date" [ngStyle]="{'background-color': data.emp_start_date? '' : 'var(--warn-lighter-color)'}">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerStartDateEdit">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerStartDateEdit></mat-datepicker>
    </mat-form-field>&nbsp;
  </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="primary" (click)="newEmp(data)">Ok</button>
    <button mat-raised-button matDialogClose color="warn">Cancel</button>
  </mat-dialog-actions>
</ng-template>

<!--For Edit Emp-->
<ng-template #empDialog let-data>

  <!--For Mobile-->
  <ng-container *ngIf="isMobile == true">
    <h2 matDialogTitle>
      {{data.emp_fname}}
      <ng-container *ngIf="data.isArchive == 0; then thenBlock else elseBlock"></ng-container>
      <ng-template #thenBlock><button mat-raised-button matDialogClose color="warn" (click)="archiveEmp(data)"><mat-icon>archive</mat-icon>Archive</button></ng-template>
      <ng-template #elseBlock><button mat-raised-button matDialogClose color="accent" (click)="restoreEmp(data)"><mat-icon>restore</mat-icon>Restore</button></ng-template>&nbsp;
      <button mat-raised-button matDialogClose color="danger" (click)="deleteEmp(data)">Delete&nbsp;<mat-icon>delete_forever</mat-icon></button>

    </h2>
    <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

      <div style="width: 100%;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />
      </div>



      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Database ID</mat-label>
        <input disabled matInput [(ngModel)]="data._id" [ngStyle]="{'background-color': data._id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <!--<mat-form-field appearance="outline" style=" min-width: 15% ;flex:auto;border-radius: 16px !important">
        <mat-label>No</mat-label>
        <input matInput placeholder="Ex. 445" type="number" [(ngModel)]="data.emp_number" [ngStyle]="{'background-color': data.number? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;-->

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Email</mat-label>
        <input disabled matInput placeholder="Ex. Juan Deng" [ngModel]="data.emp_email" type="text">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_lname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_fname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_mname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Extension</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_extname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Password</mat-label>
        <input disabled matInput placeholder="Ex. Juan Deng" [ngModel]="data.emp_password" type="password">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Position</mat-label>
        <input matInput placeholder="Ex. Finance Support" [(ngModel)]="data.emp_position" [ngStyle]="{'background-color': data.emp_position? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="pickerBirthDateEdit" [(ngModel)]="data.emp_birth_date" [ngStyle]="{'background-color': data.emp_birth_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerBirthDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerBirthDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="pickerStartDateEdit" [(ngModel)]="data.emp_start_date" [ngStyle]="{'background-color': data.emp_start_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStartDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 80% ;flex:auto;border-radius: 16px !important">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. Olongapo City" type="text" [(ngModel)]="data.emp_address" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ; flex:auto; border-radius: 16px !important">
        <mat-label>Image</mat-label>
        <ngx-mat-file-input [(ngModel)]="data.emp_imgfile" type="file" [ngStyle]="{'background-color': data.emp_imgfile? '' : 'var(--warn-lighter-color)'}">
        </ngx-mat-file-input>
      </mat-form-field>&nbsp;

    </mat-dialog-content>
    <mat-dialog-actions align="end">


      <button mat-raised-button matDialogClose color="primary" (click)="editEmp(data)">Ok</button>
      <button mat-raised-button matDialogClose color="warn">Cancel</button>
    </mat-dialog-actions>
  </ng-container>

  <!--For Not Mobile-->
  <ng-container *ngIf="isMobile != true">
    <h2 matDialogTitle style="display: flex;">
      {{data.emp_fname}} {{data.emp_mname}} {{data.emp_lname}} {{data.emp_extname}}
      <span style="flex: 1 1 auto;"></span>
      <ng-container *ngIf="data.isArchive == 0; then thenBlock else elseBlock"></ng-container>
      <ng-template #thenBlock><button mat-stroked-button matDialogClose color="warn" (click)="archiveEmp(data)"><mat-icon>archive</mat-icon>Archive</button></ng-template>&nbsp;
      <ng-template #elseBlock><button mat-stroked-button matDialogClose color="accent" (click)="restoreEmp(data)"><mat-icon>restore</mat-icon>Restore</button></ng-template>&nbsp;
      <button mat-stroked-button matDialogClose color="danger" (click)="deleteEmp(data)"><mat-icon>delete_forever</mat-icon>Delete</button>&nbsp;

    </h2>
    <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

      <div style="width: 100%;">
        <br />
        <mat-divider></mat-divider>
        <br />
      </div>

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Database ID</mat-label>
        <input disabled matInput [(ngModel)]="data._id" [ngStyle]="{'background-color': data._id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Email</mat-label>
        <input disabled matInput placeholder="Ex. Juan Deng" [ngModel]="data.emp_email" type="text">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_lname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_fname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_mname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Extension</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_extname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Password</mat-label>
        <input disabled matInput placeholder="Ex. Juan Deng" [ngModel]="data.emp_password" type="password">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Position</mat-label>
        <input matInput placeholder="Ex. Finance Support" [(ngModel)]="data.emp_position" [ngStyle]="{'background-color': data.emp_position? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="pickerBirthDateEdit" [(ngModel)]="data.emp_birth_date" [ngStyle]="{'background-color': data.emp_birth_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerBirthDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerBirthDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="pickerStartDateEdit" [(ngModel)]="data.emp_start_date" [ngStyle]="{'background-color': data.emp_start_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStartDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 80% ;flex:auto;border-radius: 16px !important">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. Olongapo City" type="text" [(ngModel)]="data.emp_address" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ; flex:auto; border-radius: 16px !important">
        <mat-label>Image</mat-label>
        <ngx-mat-file-input [(ngModel)]="data.emp_imgfile" type="file" [ngStyle]="{'background-color': data.emp_imgfile? '' : 'var(--warn-lighter-color)'}">
        </ngx-mat-file-input>
      </mat-form-field>&nbsp;

    </mat-dialog-content>
    <mat-dialog-actions align="end">

      <button mat-raised-button matDialogClose color="primary" (click)="editEmp(data)">Ok</button>
      <button mat-raised-button matDialogClose color="warn">Cancel</button>
    </mat-dialog-actions>
  </ng-container>


</ng-template>

<!--For New Att-->
<ng-template #attNewDialog let-data>
  <h2 matDialogTitle>
    New Time-In <button mat-raised-button matDialogClose color="warn" (click)="archiveEmp(data)">Archive&nbsp;<mat-icon>delete</mat-icon></button>&nbsp;
    <button mat-raised-button matDialogClose style="background-color: var(--danger-color)" (click)="deleteEmp(data)">Delete&nbsp;<mat-icon>delete_forever</mat-icon></button>
  </h2>
  <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

    <div style="width: 100%;">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
    </div>

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="data.atten_emp_id" [ngStyle]="{'background-color': data.atten_emp_id? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Search</mat-label>
      <mat-select placeholder="Ex. Juan De" [(ngModel)]="data.atten_emp_id" [ngStyle]="{'background-color': data.atten_emp_id? '' : 'var(--warn-lighter-color)'}">

        <ng-container *ngFor="let content of employeesDataSource.data">
          <mat-option value="content.id" style="display: flex"> &nbsp;{{content.emp_id}}&nbsp;|&nbsp;{{content.emp_fname}}</mat-option>

        </ng-container>
      </mat-select>
    </mat-form-field>&nbsp;

    <!--<mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Juan De" type="text" [(ngModel)]="data.atten.emp_name" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;-->

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Hours</mat-label>
      <input matInput placeholder="Ex. Juan De" type="number" [(ngModel)]="data.atten_seconds" [ngStyle]="{'background-color': data.atten_seconds? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="pickerAttDateEdit" [(ngModel)]="data.atten_date" [ngStyle]="{'background-color': data.atten_date? '' : 'var(--warn-lighter-color)'}">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerAttDateEdit">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerAttDateEdit></mat-datepicker>
    </mat-form-field>&nbsp;

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="primary" (click)="newAtt(data)">Ok</button>
    <button mat-raised-button matDialogClose color="warn">Cancel</button>
  </mat-dialog-actions>
</ng-template>

<!--For Edit Att-->
<ng-template #attEditDialog let-data>
  <h2 matDialogTitle style="display: flex">
    {{data.atten_emp_name}} | {{data.atten_date | date}}
    <span style="flex: 1 1 auto;"></span>
    <ng-container *ngIf="data.isArchive == 0; then thenBlock else elseBlock"></ng-container>
    <ng-template #thenBlock><button mat-stroked-button matDialogClose color="warn" (click)="archiveEmp(data)"><mat-icon>archive</mat-icon>Archive</button></ng-template>&nbsp;
    <ng-template #elseBlock><button mat-stroked-button matDialogClose color="accent" (click)="restoreEmp(data)"><mat-icon>restore</mat-icon>Restore</button></ng-template>&nbsp;
    <button mat-stroked-button matDialogClose color="danger" (click)="deleteEmp(data)"><mat-icon>delete_forever</mat-icon>Delete</button>&nbsp;

  </h2>
  <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

    <br />
    <mat-divider></mat-divider>
    <br />

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="data.atten_emp_id" [ngStyle]="{'background-color': data.atten_emp_id? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Search</mat-label>
      <mat-select placeholder="Ex. Juan De" [(ngModel)]="data.atten_emp_id" [ngStyle]="{'background-color': data.atten_emp_id? '' : 'var(--warn-lighter-color)'}">

        <ng-container *ngFor="let content of employeesDataSource.data">
          <mat-option value="{{content.emp_id}}" style="display: flex"> &nbsp;{{content.emp_id}}&nbsp;|&nbsp;{{content.emp_fname}}</mat-option>

        </ng-container>
      </mat-select>
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Hours</mat-label>
      <input matInput placeholder="Ex. Juan De" type="number" [(ngModel)]="data.atten_seconds" [ngStyle]="{'background-color': data.atten_seconds? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="pickerAttDateEdit" [(ngModel)]="data.atten_date" [ngStyle]="{'background-color': data.atten_date? '' : 'var(--warn-lighter-color)'}">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerAttDateEdit">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerAttDateEdit></mat-datepicker>
    </mat-form-field>&nbsp;

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="primary" (click)="editAtt(data)">Ok</button>
    <button mat-raised-button matDialogClose color="warn">Cancel</button>
  </mat-dialog-actions>
</ng-template>

<!--For New Add-->
<ng-template #addEditDialog let-data>
  <h2 matDialogTitle>{{data.emp_name}} | {{data.salary}}</h2>
  <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

    <br />
    <mat-divider></mat-divider>
    <br />

    <mat-form-field appearance="outline" style=" min-width: 15% ;flex:auto;border-radius: 16px !important">
      <mat-label>ID</mat-label>
      <input disabled matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Last Name</mat-label>
      <input disabled type="text" matInput placeholder="Ex. Juan De" [(ngModel)]="data.emp_fname" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>First Name</mat-label>
      <input disabled type="text" matInput placeholder="Ex. Juan De" [(ngModel)]="data.emp_lname" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Middle Name</mat-label>
      <input disabled type="text" matInput placeholder="Ex. Juan De" [(ngModel)]="data.emp_mname" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 10% ;flex:auto;border-radius: 16px !important">
      <mat-label>Extension:</mat-label>
      <input disabled type="text" matInput placeholder="Ex. Juan De" [(ngModel)]="data.emp_extname" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Total</mat-label>
      <input disabled type="number" matInput placeholder="Ex. 694.20" [(ngModel)]="data.salary" [ngStyle]="{'background-color': data.salary? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <div style="display: flex; width: 100%">

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Addition Amount</mat-label>
        <input matInput type="number" placeholder="Ex. 77.21" [(ngModel)]="data.emp_addition" [ngStyle]="{'background-color': data.emp_addition? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="primary" (click)="addAddition(data)">Ok</button>
    <button mat-raised-button matDialogClose color="warn">Cancel</button>
  </mat-dialog-actions>
</ng-template>

<!--For New Ded-->
<ng-template #dedEditDialog let-data>
  <h2 matDialogTitle>{{data.emp_name}} | {{data.salary}}</h2>
  <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">

    <br />
    <mat-divider></mat-divider>
    <br />

    <mat-form-field appearance="outline" style=" min-width: 15% ;flex:auto;border-radius: 16px !important">
      <mat-label>ID</mat-label>
      <input disabled matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Name</mat-label>
      <input disabled matInput type="text" placeholder="Ex. Juan De" [(ngModel)]="data.emp_name" [ngStyle]="{'background-color': data.emp_name? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
      <mat-label>Total</mat-label>
      <input disabled matInput type="number" placeholder="Ex. 320.00" [(ngModel)]="data.salary" [ngStyle]="{'background-color': data.salary? '' : 'var(--warn-lighter-color)'}">
    </mat-form-field>&nbsp;

    <div style="display: flex; width: 100%">

      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Deduction Amount</mat-label>
        <input matInput type="number" placeholder="Ex. 33.20" [(ngModel)]="data.emp_deduction" [ngStyle]="{'background-color': data.emp_deduction? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="primary" (click)="addDeduction(data)">Ok</button>
    <button mat-raised-button matDialogClose color="warn">Cancel</button>
  </mat-dialog-actions>
</ng-template>
