<!--IF NOT MOBILE-->

<ng-container *ngIf="isMobile != true">

    <ng-container *ngIf="isLoaded == false">
      <br />
      <br />
      <br />
      <br />
      <mat-spinner style="margin: auto"></mat-spinner>
    </ng-container>
  
    <ng-container *ngIf="isLoaded == true">
  
      <!--<mat-tab-group (selectedTabChange)="loadOnstart()">-->
  
      <mat-tab-group class="mat-elevation-z4" (selectedTabChange)="loadTab($event)">
  
        <mat-tab>
  
          <ng-template mat-tab-label>
  
            <mat-icon>auto_awesome_mosaic</mat-icon>
  
            Profile
  
          </ng-template>
  
          <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
            <span style="flex: 1 1 auto;"></span>
            <span>Profile</span>
            <span style="flex: 1 1 auto;"></span>
          </mat-toolbar>
  
          <div class="mat-elevation-z22 tab-container">
  
            <br />
            <mat-divider></mat-divider>
            <br />
  
            <ng-container *ngIf="isLoadedTab == false">
              <br />
              <br />
              <br />
              <br />
              <mat-spinner style="margin: auto"></mat-spinner>
            </ng-container>
  
            <ng-container *ngIf="isLoadedTab == true">
                
                <div class="profile-card" style="display: flex;">
                    <div style="min-width: 60%; margin: auto">
                        <ng-container *ngIf="employeeData.data.emp_isVerified == false; then thenBlock"></ng-container>
                          <ng-template #thenBlock>
                            <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">
                            <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
                              <mat-label>OTP Code</mat-label>
                              <input matInput [(ngModel)]="otp" [ngStyle]="{'background-color': otp? '' : 'var(--warn-lighter-color)'}">
                            </mat-form-field>&nbsp;
                            <button mat-raised-button matDialogClose color="primary" (click)="sendOTP()" [disabled]="click">Send OTP code</button>&nbsp;
                            <button mat-raised-button matDialogClose color="accent" (click)="verify()">Verify OTP code</button>
                          </mat-dialog-content>
                          </ng-template>

                          <mat-card class="example-card" style="min-width: 95%; text-align: center;">

                              <h2> {{ employeeData.data.emp_fname }}  {{employeeData.data.emp_mname}} {{employeeData.data.emp_lname}} {{employeeData.data.emp_extname}} </h2> 
                              <h3> {{employeeData.data.emp_position}} </h3>
                              <mat-divider></mat-divider>
                              <br/>
                              <br/>
                            <ng-container *ngIf="employeeData.data.emp_imgUrl != ''">
                              <!-- <img mat-card-image src="{{employeeData.data.emp_imgUrl}}" alt="Photo of a Shiba Inu" style="object-fit: contain; height: 300px;"> -->
                              <img mat-card-image src="{{employeeData.data.emp_imageb64}}" alt="Photo of a Shiba Inu" style="object-fit: contain; height: 300px;">
                            </ng-container>
                            
                            <mat-card-content>
                              <h4>Email: {{employeeData.data.emp_email}} </h4>
                              <h4>Contact #: {{employeeData.data.emp_contactNum}}</h4>
                              <h4>Address: {{employeeData.data.emp_address}}</h4>
                              <h4>Birthday: {{employeeData.data.emp_birth_date | date}}</h4>
                              <h4>Date Started: {{employeeData.data.emp_start_date | date}}</h4>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-raised-button color="warn" (click)="openDialogEditUser(employeeData.data)"><mat-icon>edit</mat-icon> User</button>
                              <button mat-raised-button color="accent" (click)="openDialogChangePassword(employeeData.data)"><mat-icon>edit</mat-icon> Password</button>
                            </mat-card-actions>
                            <br/>
                          </mat-card>
                          <br/>
                          <br/>
                    
                </div>
              </div>
                
            </ng-container>
  
          </div>
  
        </mat-tab>
  
      </mat-tab-group>
  
    </ng-container>
  
  </ng-container>
  
<!--IF mobile-->

  <ng-container *ngIf="isMobile == true">
 
      <ng-container *ngIf="isLoaded == true">
      
      <!--<mat-tab-group (selectedTabChange)="loadOnstart()">-->
      
      <mat-tab-group class="mat-elevation-z4" (selectedTabChange)="loadTab($event)">
      
        <mat-tab>
      
          <ng-template mat-tab-label>
      
            <mat-icon>auto_awesome_mosaic</mat-icon>
      
            Profile
      
          </ng-template>
      
          <mat-toolbar color="primary" class="mat-elevation-z22" style="z-index: 100;">
            <span style="flex: 1 1 auto;"></span>
            <span>Profile</span>
            <span style="flex: 1 1 auto;"></span>
          </mat-toolbar>
      
          <div class="mat-elevation-z22 tab-container">
      
            <br />
            <mat-divider></mat-divider>
            <br />
      
            <ng-container *ngIf="isLoadedTab == false">
              <br />
              <br />
              <br />
              <br />
              <mat-spinner style="margin: auto"></mat-spinner>
            </ng-container>
      
            <ng-container *ngIf="isLoadedTab == true">
                
                <div class="profile-card">
                    <div style="min-width: 95%; margin: auto; display: flex;">
                        <ng-container *ngIf="employeeData.data.emp_isVerified == false; then thenBlock"></ng-container>
                          <ng-template #thenBlock>
                            <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">
                            <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
                              <mat-label>OTP Code</mat-label>
                              <input matInput [(ngModel)]="otp" [ngStyle]="{'background-color': otp? '' : 'var(--warn-lighter-color)'}">
                            </mat-form-field>&nbsp;
                            <button mat-raised-button matDialogClose color="primary" (click)="sendOTP()" [disabled]="click">Send OTP code</button>&nbsp;
                            <button mat-raised-button matDialogClose color="accent" (click)="verify()">Verify OTP code</button>
                          </mat-dialog-content>
                          </ng-template>
      
                          <mat-card class="example-card" style="min-width: 90%; text-align: center;">

                            <h2> {{ employeeData.data.emp_fname }}  {{employeeData.data.emp_mname}} {{employeeData.data.emp_lname}} {{employeeData.data.emp_extname}} </h2> 
                            <h3> {{employeeData.data.emp_position}} </h3>
                            <mat-divider></mat-divider>
                            <br/>
                            <br/>
                          <ng-container *ngIf="employeeData.data.emp_imgUrl != ''">
                            <img mat-card-image src="{{b64}}" alt="Photo of a Shiba Inu" style="object-fit: contain; height: 250px;">
                          </ng-container>
                          
                          <mat-card-content>
                            <h4>Email: {{employeeData.data.emp_email}} </h4>
                            <h4>Contact #: {{employeeData.data.emp_contactNum}}</h4>
                            <h4>Address: {{employeeData.data.emp_address}}</h4>
                            <h4>Birthday: {{employeeData.data.emp_birth_date | date}}</h4>
                            <h4>Date Started: {{employeeData.data.emp_start_date | date}}</h4>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button color="warn" (click)="openDialogEditUser(employeeData.data)" style="max-width: 50%;"><mat-icon>edit</mat-icon> User</button>&nbsp;
                            <button mat-raised-button color="accent" (click)="openDialogChangePassword(employeeData.data)" style="max-width: 50%;"><mat-icon>edit</mat-icon> Password</button>
                          </mat-card-actions>
                          <br/>
                        </mat-card><br/>
                    
                </div>
              </div>
                
            </ng-container>
      
          </div>
      
        </mat-tab>
      
      </mat-tab-group>
      
      </ng-container>
      
  </ng-container>

  <ng-template #empUserProfile let-data>
    <h2 matDialogTitle>
      {{data.emp_fname}} {{data.emp_lname}}
    </h2>
    <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">
  
      <div style="width: 100%;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
  
  
  
      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Database ID</mat-label>
        <input disabled matInput [(ngModel)]="data._id" [ngStyle]="{'background-color': data._id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="data.emp_id" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_lname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_fname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_mname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Extension</mat-label>
        <input matInput placeholder="Ex. Juan Deng" type="text" [(ngModel)]="data.emp_extname" [ngStyle]="{'background-color': data.emp_fname? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 80% ;flex:auto;border-radius: 16px !important">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. Olongapo City" type="text" [(ngModel)]="data.emp_address" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 80% ;flex:auto;border-radius: 16px !important">
        <mat-label>Contact No.</mat-label>
        <input matInput placeholder="Ex. Olongapo City" type="text" [(ngModel)]="data.emp_contactNum" [ngStyle]="{'background-color': data.emp_address? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;

  
      <mat-form-field appearance="outline" style=" min-width: 60% ;flex:auto;border-radius: 16px !important">
        <mat-label>Password</mat-label>
        <input disabled matInput placeholder="Ex. Juan Deng" [ngModel]="data.emp_password" type="password">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Position</mat-label>
        <input matInput placeholder="Ex. Finance Support" [(ngModel)]="data.emp_position" [ngStyle]="{'background-color': data.emp_position? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="pickerBirthDateEdit" [(ngModel)]="data.emp_birth_date" [ngStyle]="{'background-color': data.emp_birth_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerBirthDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerBirthDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 40% ;flex:auto;border-radius: 16px !important">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="pickerStartDateEdit" [(ngModel)]="data.emp_start_date" [ngStyle]="{'background-color': data.emp_start_date? '' : 'var(--warn-lighter-color)'}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDateEdit">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStartDateEdit></mat-datepicker>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="outline" style=" min-width: 40% ; flex:auto; border-radius: 16px !important">
        <mat-label>Image</mat-label>
        <ngx-mat-file-input [(ngModel)]="data.emp_imgfile" name="file" [ngStyle]="{'background-color': data.emp_imagefile? '' : 'var(--warn-lighter-color)'}">
        </ngx-mat-file-input>
      </mat-form-field>&nbsp;
  
    </mat-dialog-content>
    <mat-dialog-actions align="end">
  
  
      <button mat-raised-button matDialogClose color="primary" (click)="editEmp(data)">Ok</button>
      <button mat-raised-button matDialogClose color="warn">Cancel</button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #empChangePassword let-data>
    <h2 matDialogTitle>
     Change Password {{data.emp_fname}} {{data.emp_lname}}
    </h2>
    <mat-dialog-content style="display:flex; align-content:center; flex-wrap:wrap">
  
      <div style="width: 100%;">
        <mat-divider></mat-divider>
      </div>
  
  
  
      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" [(ngModel)]="data.old_pword" [ngStyle]="{'background-color': data._id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
      <mat-form-field appearance="outline" style=" min-width: 20% ;flex:auto;border-radius: 16px !important">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="data.new_pword" [ngStyle]="{'background-color': data.emp_id? '' : 'var(--warn-lighter-color)'}">
      </mat-form-field>&nbsp;
  
     
    </mat-dialog-content>
    <mat-dialog-actions align="end">
  
  
      <button mat-raised-button matDialogClose color="primary" (click)="changePword(data)">Change Password</button>
      <button mat-raised-button matDialogClose color="warn">Cancel</button>
    </mat-dialog-actions>
  </ng-template>
